@charset "UTF-8";

html {
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 13px;
	font-weight: 400;
	color: $black;
	box-sizing: border-box;
	min-height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	min-height: 100%;
	font-family: 'Montserrat', 'Arial', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

.nav-menu--opened {
    overflow: hidden;
}

@media (min-width: $desktop-width) {
    .nav-menu {
        overflow: visible;
	}
}

.container {                
	@include min-max(320px, 100%, 0);
	background-color: $white;
	height: 100%;
}

.wrap {
	@include min-max(320px, 1220px, 15px);
}