@charset "UTF-8";

@import "normalize";
@import "variables";
@import "fonts";
@import "mixins";
@import "core";

@import "blocks/header";
@import "blocks/intro";
@import "blocks/menu";
@import "blocks/socials";
@import "blocks/intro";
@import "blocks/scroll-nav";
@import "blocks/services";
@import "blocks/service";
@import "blocks/publications";
@import "blocks/publication";
@import "blocks/news";
@import "blocks/contacts";
@import "blocks/about";
@import "blocks/crew";
@import "blocks/hamburger";
@import "blocks/carousel/owl.carousel";
@import "blocks/carousel/owl.theme.default";