.crew {
    padding-top: 5%;

    .crew__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(205px,auto);
        grid-column-gap: 20px;

        .crew__item {

            .crew__photo {
                width: 100%;
                height: 400px;
                min-height: 368px;
                background: $primary;
                margin-bottom: 20px;
            }

            .crew__name {
                margin: 0;
                margin-bottom: 8px;
                font-size: 14px;
                line-height: 1;
                font-weight: 700;
                color: $primary;                
            }

            .crew__position {
                margin: 0;
                margin-bottom: 15px;
                font-size: 12px;
                line-height: 13px;
                color: $primary;
            }

            .crew__text {
                margin: 0;
                font-size: 12px;
                line-height: 13px;
            }
        }

        .crew__item:first-child {

            .crew__photo {
                background: url('../img/crew1.jpg') no-repeat 50% 50%;
                background-size: cover;
            }
        }

        .crew__item:nth-child(2) {

            .crew__photo {
                background: url('../img/crew2.jpg') no-repeat 50% 50%;
                background-size: cover;
            }
        }

        .crew__item:nth-child(3) {

            .crew__photo {
                background: url('../img/crew3.jpg') no-repeat 50% 50%;
                background-size: cover;
            }
        }

        .crew__item.crew__item--vacancy {

            .crew__photo {
                background: $primary;
            }
        }
    }
}

