 .intro__wrap {
    max-width: 100%;
    padding: 5px;
    padding-bottom: 0;

    .intro__title {
        @include visually-hidden;
     }

     .intro__main {
        display: flex;
        margin: 0 auto;
        width: 100%;
        min-height: 744px;
   
        .intro__bg {
           width: 50%;
           height: auto;
           background: url('../img/bg-main.jpg') no-repeat 50% 0%;
           background-size: cover;
       }
   
       .intro__description {
           box-sizing: border-box;
           background: $primary;
           width: 50%;
           color: $white;
           padding-right: 20%;
      
          .intro__header {
              margin-top: 23%;
              margin-left: 5.7%;
              margin-bottom: 15px;
              font-size: 72px;
              line-height: 1;
              text-transform: uppercase;
              font-weight: 700;
              font-family: 'Bebas Neue';
          }
      
          .intro__text {
              margin-left: 5.7%;
              font-size: 12px;
              line-height: 13px;
      
              &--second {
                  margin-bottom: 4.7%;
              }
          }
      
          .intro__button {
              @include button() {
                  margin-left: 5.7%;
                  text-decoration: none;
              };
          }
       }
    }
 }

 



 

 

 