.publications__title {
    @include visually-hidden;
}

.publications__wrap {
    padding: 5px;
    padding-bottom: 3%;
    padding-top: 3%;    

    .publications__list {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(270px, auto);
        grid-column-gap: 25px;
        grid-row-gap: 40px;
        list-style: none;

        .publications__item {
            display: flex;

            .publications__photo {
                width: 35%;
                height: auto;
                // max-height: 270px;
                margin-right: 22px;
                background-color: $primary;
                flex-shrink: 0;
            }

            .publications__info {
                flex-grow: 1;

                p, h2 {
                    margin: 0;
                }

                .publications__name {
                    margin-bottom: 5px;
                    font-size: 14px;
                    line-height: 1;
                    font-weight: 700;
                    color: $primary;
                }

                .publications__date {
                    margin-bottom: 15px;
                    font-size: 10px;
                    line-height: 13px;
                    color: $primary;
                }

                .publications__description {
                    margin-bottom: 15px;
                    font-size: 12px;
                    line-height: 13px;
                }

                .publications__link {
                    font-size: 10px;
                    line-height: 13px;
                    color: $primary;
                    text-decoration: none;
                    transition: color 0.3s ease-in-out;

                    &:hover {
                        color: darken($second, 35%);
                    }
                }
            }
        }
    }
}