.publication__title {
    @include visually-hidden;
}

.publication__wrap {
    max-width: 600px;
    padding: 5px;
    padding-bottom: 3%;
    padding-top: 3%;

    .publication__item {
        display: flex;

        .publication__photo {            
            width: 35%;
            height: auto;
            max-height: 270px;
            margin-right: 22px;
            background-color: $primary;
            flex-shrink: 0;
        }

        .publication__info {
            flex-grow: 1;            

            p, h2 {
                margin: 0;
            }            

            .publication__name {
                margin-bottom: 5px;
                font-size: 14px;
                line-height: 1;
                font-weight: 700;
                color: $primary;
            }

            .publication__date {
                font-size: 10px;
                line-height: 13px;
                color: $primary;
            }

            .publication__teg {
                margin-bottom: 5px;
            }

            .publication__teg span {
                font-size: 9px;
                line-height: 13px;
                color: #4D555B;
            }

            .publications__description {
                margin-bottom: 15px;
                font-size: 12px;
                line-height: 13px;
            }

            .publications__description:last-child {
                margin-bottom: 0;
            }
        }
    }
}